body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color:white; /* Optional: Set a background color for the body */
}

button {
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
}